@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body, #root {
  margin: 0;
  padding: 0;
}

.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

/* *-----------FaTime & FaBar */
.icon-wrapper {
  position: absolute;
  top: 10px;
  right: 50px;
}

.fabars,
.fatimes {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  transition: all 0.3s ease;
  opacity: 0;
  color: white;
  font-size: 30px;
  transform: scale(0.8) rotate(0deg);
}

.fabars.visible,
.fatimes.visible {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.fabars.hidden {
  opacity: 0;
  transform: scale(0.8) rotate(-90deg);
}

.fatimes.hidden {
  opacity: 0;
  transform: scale(0.8) rotate(90deg);
}



/* *-----------end of fa icons */

.menu {
  display: flex;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 35px;
  right: 70px;
  position: absolute;
  width: 10px;
  height: 10px;
  /* overflow: hidden; */
  background-color: brown;
}

.menu ul {
  position: absolute;
  /* fix to viewport */

  top: 0px;
  right: 50px;
  width: 0;
  /* Remove background dimensions */
  height: 0;
  padding: 0;
  /* margin: 100px; */
  list-style: none;
  pointer-events: none;
  background-color: transparent;
  /* Remove brown background */
}



.li {
  width: 40px;
  /* text-align: center;s */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: white;
}

.html-li {
  display: flex;
  width: auto;
  width: 100px;
  height: 25px;
  position: absolute;
  /* text-align: center;s */
  background: rgba(255, 255, 255, 0.08);
  /* margin-top: 10px; */
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 8px 10px;
  color: white;
  white-space: nowrap;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  pointer-events: auto;
}

.icons {
  margin: 5px;
}

.menu ul li:hover {
  transform: translateY(-5px) scale(1.05);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

a {
  text-decoration: none;
  color: black;
}

/* *------------------Navamit*/